[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyedflib = "*"
numpy = "*"
pandas = "*"
cython = "*"
python-eyelinkparser = "*"
hedfpy = "==0.0.dev3"
matplotlib = "*"
scipy = "*"
ipython = "*"
tables = "*"

[requires]
python_version = "3.7"
